<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="sign-in-form" [formGroup]="signInForm">
        <h2>Sign in</h2>
        <div class="row-control">
          <mat-form-field [appearance]="'outline'">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        <div class="row-control">
          <mat-form-field [appearance]="'outline'">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div class="row mp-3">
    <div class="col-12">
      <button mat-raised-button color="primary" (click)="viewRegister()" class="mr-3">Register</button>
      <button mat-raised-button color="warn" (click)="setvalue()"> Set new Values</button>
    </div>
  </div>
</div>
