<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->
<!-- add component in other component -->
<!-- way 1: -->
<!-- <app-home></app-home> -->
<!-- way 2: -->
<!-- <div class="app-home">
</div> -->

<div class="container-fluid" style="height: auto; padding: 0px; margin: 0px; background-color: #ebebeb;">
  <header>
    <!-- nội dung phần header  -->
    <!-- Header: thường có menu, logo, slide ảnh. -->
    <div class="container-body">

      <div class="row">
        <nav class="col navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img class="d-inline-block align-top" src="assets/image/icon/coronavirus.png" alt="icon weather" width="30" height="30"> Corona-virus
          </a>
          <!-- button menu  -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- navbar item in button menu  -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/home-page">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLink"
                role="button" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false">
                  Link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarLink">
                  <a class="dropdown-item" routerLink="/list-album">Albums</a>
                  <a class="dropdown-item" routerLink="/list-photo">Photos</a>
                  <a class="dropdown-item" href="#">Current conditions</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                role="button" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/list-todo/1/10">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/list-poster">Posters</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                role="button" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false">
                  corona
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/corona-country">Country corona</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/corona-news">News corona</a>
                  <a class="dropdown-item" href="/corona-chart">Chart corona</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <!-- form search  -->
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>

      <div class="row header-second">
        <div class="col-sx-12 col-sm-4  col-md-4">
          Ethiopia Weather 
          <i class="material-icons" style="font-size: 15px;">
            &#xe315;
          </i>
        </div>
        <div class="col-sx-12 col-sm-4 col-md-6 ">
          Web, Oromia
          21<sup>o</sup> C
        </div>
        <div class="col-sx-12 col-sm-4 col-md-2" >
          <img src="/assets/image/lifestyle/allergies.svg" height="30" width="30"> 
          Allergies: <b style="color: #93c701;">Low</b> 
          <i class="material-icons" style="font-size: 15px;">&#xe313;</i>
        </div>
      </div>
    </div>
  </header>
<section>
  <!-- router view go here  -->
  <div style="background-color: #3e444a; color: white;">
    <router-outlet></router-outlet>
  </div>
</section>
<footer>
  <!-- nội dung phần footer  -->
  <!-- Footer: thường có thông tin thêm về trang. -->

  <div class="row" style="color: black; padding: 10px; margin: 10px; background-color: cadetblue;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
      <h1> Contact Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-6">
      <form class="form-group">
        <div class="row">
          <div class="col-sx-6 col-sm-6 col-md-6">
            <input class="form-control" type="text" placeholder="Your name" >
          </div>
          
          <div class="col-sx-6 col-sm-6 col-md-6">
            <input class="form-control" type="text" placeholder="Your mail" >
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col">
            <textarea class="form-control" rows="4"  placeholder="description"></textarea>
          </div>
        </div>
        <div class="row" style="text-align: right; margin-top: 10px;">
          <div class="col" >
          <button class="btn btn-primary"> Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-6" style="color: black; font-weight: bold;">
      <p >
        INFOMATION
      </p>
      <p >Bak-One Company
        <br />
        12345 Hollywood Bvld Street
        <br />
        Los Angeles, California
        <br />
      </p>
      <p >
        +444 (Phone) 123456
        <br/>
        +123 (FAX) 0011223
        <br/>
        info@bak-onecompany.com
      </p>
    </div>
  </div>

  <div class="row" style="background-color: #0e3775; margin-top: 10px; color: #ffffff; height: 100px; line-height: 100px;">
    <div class="col-sx-8 col-sm-8 col-md-11">
      <p>
        © Copyright 2013 Bak-One  |  One Page Flat Template
      </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-1">
      <i class="material-icons">&#xe2c6;</i>
    </div>
  </div>
</footer>
</div>

<!-- <app-weather></app-weather> -->
